In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('crime_data.csv')

In [3]:
data.head(7)

,timestamp,act379,act13,act279,act323,act363,act302,latitude,longitude
0,28-02-2018 21:00,1,0,0,0,0,0,22.737260,75.875987
1,28-02-2018 21:15,1,0,0,0,0,0,22.720992,75.876083
2,28-02-2018 10:15,0,0,1,0,0,0,22.736676,75.883168
3,28-02-2018 10:15,0,0,1,0,0,0,22.746527,75.887139
4,28-02-2018 10:30,0,0,1,0,0,0,22.769531,75.888772
5,28-02-2018 14:15,0,0,0,1,0,0,22.735218,75.913366
6,28-02-2018 08:00,0,0,0,0,1,0,22.736766,75.908579

In [4]:
data.shape

(2090, 9)

 Act 379-Robbery

 Act 13-Gambling

 Act 279-Accident

 Act 323-Violence

 Act 302-Murder

 Act 363-Kidnapping

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090 entries, 0 to 2089
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  2090 non-null   object
 1   act379     2090 non-null   int64
 2   act13      2090 non-null   int64
 3   act279     2090 non-null   int64
 4   act323     2090 non-null   int64
 5   act363     2090 non-null   int64
 6   act302     2090 non-null   int64
 7   latitude   2090 non-null   float64
 8   longitude  2090 non-null   float64
dtypes: float64(2), int64(6), object(1)
memory usage: 147.1+ KB

In [6]:
data['timestamp'] = pd.to_datetime(data['timestamp'], errors='coerce')

In [7]:
data['timestamp'] = pd.to_datetime(data['timestamp'], format = '%d/%m/%Y %H:%M:%S')

In [8]:
data['timestamp']

0      2018-02-28 21:00:00
1      2018-02-28 21:15:00
2      2018-02-28 10:15:00
3      2018-02-28 10:15:00
4      2018-02-28 10:30:00
               ...
2085   2018-07-03 03:50:00
2086   2018-07-03 21:10:00
2087   2018-07-03 12:10:00
2088   2018-07-03 10:35:00
2089   2018-07-03 23:45:00
Name: timestamp, Length: 2090, dtype: datetime64[ns]

In [9]:
# DATE TIME STAMP FUNCTION
column_1 = data.iloc[:,0]

db=pd.DataFrame({"year": column_1.dt.year,
              "month": column_1.dt.month,
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
              "dayofyear": column_1.dt.dayofyear,
              "week": column_1.dt.week,
              "weekofyear": column_1.dt.weekofyear,
              "dayofweek": column_1.dt.dayofweek,
              "weekday": column_1.dt.weekday,
              "quarter": column_1.dt.quarter,
             })

In [10]:
dataset1=data.drop('timestamp',axis=1)

In [11]:
data1=pd.concat([db,dataset1],axis=1)
data1

,year,month,day,hour,dayofyear,week,weekofyear,dayofweek,weekday,quarter,act379,act13,act279,act323,act363,act302,latitude,longitude
0,2018.0,2.0,28.0,21.0,59.0,9.0,9.0,2.0,2.0,1.0,1,0,0,0,0,0,22.737260,75.875987
1,2018.0,2.0,28.0,21.0,59.0,9.0,9.0,2.0,2.0,1.0,1,0,0,0,0,0,22.720992,75.876083
2,2018.0,2.0,28.0,10.0,59.0,9.0,9.0,2.0,2.0,1.0,0,0,1,0,0,0,22.736676,75.883168
3,2018.0,2.0,28.0,10.0,59.0,9.0,9.0,2.0,2.0,1.0,0,0,1,0,0,0,22.746527,75.887139
4,2018.0,2.0,28.0,10.0,59.0,9.0,9.0,2.0,2.0,1.0,0,0,1,0,0,0,22.769531,75.888772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2085,2018.0,7.0,3.0,3.0,184.0,27.0,27.0,1.0,1.0,3.0,0,0,0,1,0,0,22.712970,75.823580
2086,2018.0,7.0,3.0,21.0,184.0,27.0,27.0,1.0,1.0,3.0,0,0,0,1,0,0,22.693481,75.821483
2087,2018.0,7.0,3.0,12.0,184.0,27.0,27.0,1.0,1.0,3.0,0,0,1,0,0,0,22.531931,75.769126
2088,2018.0,7.0,3.0,10.0,184.0,27.0,27.0,1.0,1.0,3.0,0,0,1,0,0,0,22.719569,75.857726
2089,2018.0,7.0,3.0,23.0,184.0,27.0,27.0,1.0,1.0,3.0,0,0,1,0,0,0,22.686437,76.032055

In [12]:
data1.shape

(2090, 18)

## Data Analysis

In [13]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090 entries, 0 to 2089
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        2068 non-null   float64
 1   month       2068 non-null   float64
 2   day         2068 non-null   float64
 3   hour        2068 non-null   float64
 4   dayofyear   2068 non-null   float64
 5   week        2068 non-null   float64
 6   weekofyear  2068 non-null   float64
 7   dayofweek   2068 non-null   float64
 8   weekday     2068 non-null   float64
 9   quarter     2068 non-null   float64
 10  act379      2090 non-null   int64
 11  act13       2090 non-null   int64
 12  act279      2090 non-null   int64
 13  act323      2090 non-null   int64
 14  act363      2090 non-null   int64
 15  act302      2090 non-null   int64
 16  latitude    2090 non-null   float64
 17  longitude   2090 non-null   float64
dtypes: float64(12), int64(6)
memory usage: 294.0 KB

In [14]:
data1.isnull().sum()

year          22
month         22
day           22
hour          22
dayofyear     22
week          22
weekofyear    22
dayofweek     22
weekday       22
quarter       22
act379         0
act13          0
act279         0
act323         0
act363         0
act302         0
latitude       0
longitude      0
dtype: int64

In [15]:
data1.dropna(inplace=True)

In [16]:
data1.isnull().sum()

year          0
month         0
day           0
hour          0
dayofyear     0
week          0
weekofyear    0
dayofweek     0
weekday       0
quarter       0
act379        0
act13         0
act279        0
act323        0
act363        0
act302        0
latitude      0
longitude     0
dtype: int64

In [17]:
data1.head()

,year,month,day,hour,dayofyear,week,weekofyear,dayofweek,weekday,quarter,act379,act13,act279,act323,act363,act302,latitude,longitude
0,2018.0,2.0,28.0,21.0,59.0,9.0,9.0,2.0,2.0,1.0,1,0,0,0,0,0,22.737260,75.875987
1,2018.0,2.0,28.0,21.0,59.0,9.0,9.0,2.0,2.0,1.0,1,0,0,0,0,0,22.720992,75.876083
2,2018.0,2.0,28.0,10.0,59.0,9.0,9.0,2.0,2.0,1.0,0,0,1,0,0,0,22.736676,75.883168
3,2018.0,2.0,28.0,10.0,59.0,9.0,9.0,2.0,2.0,1.0,0,0,1,0,0,0,22.746527,75.887139
4,2018.0,2.0,28.0,10.0,59.0,9.0,9.0,2.0,2.0,1.0,0,0,1,0,0,0,22.769531,75.888772

In [18]:
data1.columns[1]

'month'

## Data Visualization & Analysis

In [ ]:
sns.pairplot(data1,hue='act363')

In [ ]:
df1 = pd.DataFrame(data=data1, columns=['act13', 'act323', 'act379'])

In [ ]:
df1.plot.kde()
plt.show()

## X & Y array

In [ ]:
data1.head()

In [ ]:
data1.shape

In [ ]:
X=data1.iloc[:,[1,2,3,4,6,16,17]].values
#month,day,hour,dayofyear,weekofyear,latitude,longitude

In [ ]:
X[4]

In [ ]:
y=data1.iloc[:,[10,11,12,13,14,15]].values
#act379	act13	act279	act323	act363	act302

In [ ]:
y[4]

In [ ]:
## Splitting the data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

## Creating & Training Ada Model

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Generate a random classification dataset
X, y = make_classification(n_samples=1000, n_features=20, n_informative=10, n_classes=2, random_state=42)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the AdaBoost classifier
base_estimator = DecisionTreeClassifier(max_depth=1)
n_estimators = 100
learning_rate = 1.0
ada_boost = AdaBoostClassifier(base_estimator=base_estimator, n_estimators=n_estimators, learning_rate=learning_rate)

# Fit the classifier to the training data
ada_boost.fit(X_train, y_train)

# Predict on the testing data
y_pred = ada_boost.predict(X_test)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
acc1=(f"Accuracy: {accuracy}")
print(acc1)

In [ ]:
from catboost import CatBoostClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Generate a random classification dataset
X, y = make_classification(n_samples=1000, n_features=20, n_informative=10, n_classes=2, random_state=42)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the CatBoost classifier
cat_boost = CatBoostClassifier(iterations=100, learning_rate=0.1, depth=3, loss_function='Logloss')

# Fit the classifier to the training data
cat_boost.fit(X_train, y_train, verbose=False)

# Predict on the testing data
y_pred = cat_boost.predict(X_test)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
acc2=(f"Accuracy: {accuracy}")
print(acc2)

In [ ]:
import xgboost as xgb
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Generate a random classification dataset
X, y = make_classification(n_samples=1000, n_features=20, n_informative=10, n_classes=2, random_state=42)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the XGBoost classifier
xgb_classifier = xgb.XGBClassifier(n_estimators=100, max_depth=3, learning_rate=0.1, objective='binary:logistic')

# Fit the classifier to the training data
xgb_classifier.fit(X_train, y_train, eval_metric='error')

# Predict on the testing data
y_pred = xgb_classifier.predict(X_test)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
acc3=(f"Accuracy: {accuracy}")
print(acc3)

In [ ]:
from keras.models import Sequential
from keras.layers import LSTM, Dense
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Generate a random classification dataset
X, y = make_classification(n_samples=1000, n_features=20, n_informative=10, n_classes=2, random_state=42)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the LSTM ensemble
n_estimators = 3
max_epochs = 10
n_neurons = 50
ensemble = []

for i in range(n_estimators):
    model = Sequential()
    model.add(LSTM(n_neurons, input_shape=(X_train.shape[1], 1)))
    model.add(Dense(1, activation='sigmoid'))
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.fit(X_train.reshape(X_train.shape[0], X_train.shape[1], 1), y_train, epochs=max_epochs, verbose=0)
    ensemble.append(model)

# Predict on the testing data using the ensemble
y_preds = []
for model in ensemble:
    y_pred = model.predict(X_test.reshape(X_test.shape[0], X_test.shape[1], 1))
    y_pred = [1 if pred >= 0.5 else 0 for pred in y_pred]
    y_preds.append(y_pred)

# Calculate the final predictions as the majority vote of the ensemble
y_final_pred = []
for i in range(len(y_preds[0])):
    votes = [y[i] for y in y_preds]
    y_final_pred.append(max(set(votes), key=votes.count))

# Calculate the accuracy of the ensemble
accuracy = accuracy_score(y_test, y_final_pred)
acc4=(f"Accuracy: {accuracy}")
print(acc4)

In [ ]:
from keras.models import Sequential
from keras.layers import Embedding, Conv1D, GlobalMaxPooling1D, Dense
from keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.datasets import fetch_20newsgroups
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Load the 20 Newsgroups dataset
categories = ['alt.atheism', 'soc.religion.christian']
newsgroups = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)

# Tokenize the text data
max_words = 1000
tokenizer = Tokenizer(num_words=max_words)
tokenizer.fit_on_texts(newsgroups.data)
sequences = tokenizer.texts_to_sequences(newsgroups.data)

# Pad the sequences to a fixed length
max_len = 100
X = pad_sequences(sequences, maxlen=max_len)

# Create the label vectors
y = newsgroups.target

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the CNN model
embedding_dim = 50
n_filters = 32
filter_size = 3
model = Sequential()
model.add(Embedding(max_words, embedding_dim, input_length=max_len))
model.add(Conv1D(n_filters, filter_size, activation='relu'))
model.add(GlobalMaxPooling1D())
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Fit the model to the training data
batch_size = 64
epochs = 10
model.fit(X_train, y_train, batch_size=batch_size, epochs=epochs, validation_data=(X_test, y_test))

# # Predict on the testing data
# y_pred = model.predict_classes(X_test)

y_pred_proba = model.predict(X_test)
y_pred = np.argmax(y_pred_proba, axis=1)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
acc5=(f"Accuracy: {accuracy}")
print(acc5)

# Prediction

In [ ]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
 
objects = ('Ada','Cat','XG',"lstm","cnn")
y_pos = np.arange(len(objects))
performance = [acc1,acc2,acc3,acc4,acc5]
 
plt.bar(y_pos, performance, align='center', alpha=0.7)
plt.xticks(y_pos, objects)
plt.ylabel('Accuracy Level')
plt.title('Accuracy of Algorithms')
 
plt.show()

In [ ]:
test_vector = np.reshape(np.asarray([  2.      , 28.      , 21.      , 59.      ,  9.      , 22.73726 ,
       75.875987]),(1,7))
p =np.array(rfc.predict(test_vector)[0])

print(p)

label = ['Robbery','Gambling','Accident','Violence','Kidnapping','Murder']
if p[0] == 1:
    print("Robbery")
if p[0] ==2:
    print("Gambling")
if p[0] ==3:
    print("Accident")
if p[0] ==4:
    print("Violence")
if p[0] ==5:
    print("Kidnapping")
if p[0] ==6:
    print("Murder")

In [ ]:
test_vector = np.reshape(np.asarray([2.      , 28.      , 10.      , 59.      ,  9.      , 22.769531,
       75.888772]),(1,7))
p =np.array(rfc.predict(test_vector)[0])

print(p)

label = ['Robbery','Gambling','Accident','Violence','Kidnapping','Murder']
if p[0] == 1:
    print("Robbery")
if p[1] ==1:
    print("Gambling")
if p[2] ==1:
    print("Accident")
if p[3] ==1:
    print("Violence")
if p[4] ==1:
    print("Kidnapping")
if p[5] ==1:
    print("Murder")

In [ ]:
import pickle
pickle.dump(rfc, open('model.pkl','wb'))
model = pickle.load(open('model.pkl','rb'))