In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('crime_data.csv')

In [3]:
data.head(7)

,timestamp,act379,act13,act279,act323,act363,act302,latitude,longitude
0,28-02-2018 21:00,1,0,0,0,0,0,22.737260,75.875987
1,28-02-2018 21:15,1,0,0,0,0,0,22.720992,75.876083
2,28-02-2018 10:15,0,0,1,0,0,0,22.736676,75.883168
3,28-02-2018 10:15,0,0,1,0,0,0,22.746527,75.887139
4,28-02-2018 10:30,0,0,1,0,0,0,22.769531,75.888772
5,28-02-2018 14:15,0,0,0,1,0,0,22.735218,75.913366
6,28-02-2018 08:00,0,0,0,0,1,0,22.736766,75.908579

In [4]:
data.shape

(2090, 9)

 Act 379-Robbery

 Act 13-Gambling

 Act 279-Accident

 Act 323-Violence

 Act 302-Murder

 Act 363-Kidnapping

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090 entries, 0 to 2089
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  2090 non-null   object
 1   act379     2090 non-null   int64
 2   act13      2090 non-null   int64
 3   act279     2090 non-null   int64
 4   act323     2090 non-null   int64
 5   act363     2090 non-null   int64
 6   act302     2090 non-null   int64
 7   latitude   2090 non-null   float64
 8   longitude  2090 non-null   float64
dtypes: float64(2), int64(6), object(1)
memory usage: 147.1+ KB

In [6]:
data['timestamp'] = pd.to_datetime(data['timestamp'], errors='coerce')

In [7]:
data['timestamp'] = pd.to_datetime(data['timestamp'], format = '%d/%m/%Y %H:%M:%S')

In [8]:
data['timestamp']

0      2018-02-28 21:00:00
1      2018-02-28 21:15:00
2      2018-02-28 10:15:00
3      2018-02-28 10:15:00
4      2018-02-28 10:30:00
               ...
2085   2018-07-03 03:50:00
2086   2018-07-03 21:10:00
2087   2018-07-03 12:10:00
2088   2018-07-03 10:35:00
2089   2018-07-03 23:45:00
Name: timestamp, Length: 2090, dtype: datetime64[ns]

In [9]:
# DATE TIME STAMP FUNCTION
column_1 = data.iloc[:,0]

db=pd.DataFrame({"year": column_1.dt.year,
              "month": column_1.dt.month,
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
              "dayofyear": column_1.dt.dayofyear,
              "week": column_1.dt.week,
              "weekofyear": column_1.dt.weekofyear,
              "dayofweek": column_1.dt.dayofweek,
              "weekday": column_1.dt.weekday,
              "quarter": column_1.dt.quarter,
             })

In [10]:
dataset1=dataset.drop('timestamp',axis=1)

NameError: name 'dataset' is not defined

In [ ]:
data1=pd.concat([db,dataset1],axis=1)
data1

In [ ]:
data1.shape

## Data Analysis

In [ ]:
data1.info()

In [ ]:
data1.isnull().sum()

In [ ]:
data1.dropna(inplace=True)

In [ ]:
data1.isnull().sum()

In [ ]:
data1.head()

In [ ]:
data1.columns[1]

## Data Visualization & Analysis

In [ ]:
sns.pairplot(data1,hue='act363')

In [ ]:
df1 = pd.DataFrame(data=data1, columns=['act13', 'act323', 'act379'])

In [ ]:
df1.plot.kde()
plt.show()

## X & Y array

In [ ]:
data1.head()

In [ ]:
data1.shape

In [ ]:
X=data1.iloc[:,[1,2,3,4,6,16,17]].values
#month,day,hour,dayofyear,weekofyear,latitude,longitude

In [ ]:
X

In [ ]:
y=data1.iloc[:,[10,11,12,13,14,15]].values
#act379	act13	act279	act323	act363	act302

In [ ]:
y

In [ ]:
## Splitting the data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

## Creating & Training KNN Model

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train,y_train)

In [ ]:
acc1=knn.score(X_test,y_test)
acc1

In [ ]:
knn.score(X_train,y_train)

## Creating & Training Decision Tree Model

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(max_depth=500, random_state=300)

In [ ]:
dtree.fit(X_train,y_train)

In [ ]:
y_pred=dtree.predict(X_test)

In [ ]:
acc2=dtree.score(X_test,y_test)
acc2

In [ ]:
dtree.score(X_train,y_train)

In [ ]:
y_pred

## Creating & Training Random Tree Model

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train, y_train)

In [ ]:
y_pred=rfc.predict(X_test)

In [ ]:
X_test[0]

In [ ]:
y_pred

In [ ]:
acc3=rfc.score(X_test,y_test)
acc3

In [ ]:
rfc.score(X_train,y_train)

# Prediction

In [ ]:
test_vector = np.reshape(np.asarray([2., 28., 15., 59. ,  9. , 22.723873,75.828416]),(1,7))
p =np.array(rfc.predict(test_vector)[0])

print(p)

label = ['Robbery','Gambling','Accident','Violence','Kidnapping','Murder']
print (label[3])

In [ ]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
 
objects = ('KNN','DecisionTree','RF')
y_pos = np.arange(len(objects))
performance = [acc1,acc2,acc3]
 
plt.bar(y_pos, performance, align='center', alpha=0.5)
plt.xticks(y_pos, objects)
plt.ylabel('Accuracy Level')
plt.title('Accuracy of Algorithms')
 
plt.show()